.abody{
    background: linear-gradient(135deg, rgb(0, 0, 70), rgb(28, 181, 224));
    height: 100vh;
    margin: 0;
}
.abx
{
    width: 90%;
    max-width: 600px;
    height: 550px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 20px; 
    background-color: #fff;
 
}

.alcnr{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 30px;
    padding: 20px;
    overflow: hidden; 
}
.aletter{
    margin: 15px 35px 27px 32px;
    width: 50px;
    height: 50px;
    font-weight: bolder;
    font-size: 70px;
    text-align: center;
}

.abn{
    margin: 30px 35px 30px 38px;
    width: 80px;
    height: 25px;
    border: white;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 0;
}

.a-content h1{
    color: white;
    font-weight: bolder;
}

.a-top{
    margin-top: 5%;
}

#al1{
    background-color: #E27A1D;
   
}
#al2{
    background-color: #1D85E2;
}
#al3{
    background-color: #23E21D;
}
#al4{
    background-color: #DC1DE2;
}

@media (max-width:1200px){
    .abody{
        max-width: 100%;
        padding: 20px 0;
    }
}

@media (max-width:992px){
    .abody{
        max-width: 100%;
        padding: 20px 0;
    }
}

@media (max-width:768px){
    .abx{
        width: 450px;
        height: 475px;
    }
    .alcnr{
        height: 150px;
        width: 150px;
        padding: 12px;
    }
    .aletter{
        font-size: 65px;
        margin: 10px 20px 15px 20px;
    }
    .abn{
        width: 70px;
        margin: 30px 35px 30px 30px;
    }
}

@media (max-width:576px){
    .abx{
        width: 325px;
        height: 325px;
        margin: auto;
    }
    .alcnr{
        width: 110px;
        height: 110px;
        margin: 20px;
    }
    .aletter{
        font-size: 45px;
        margin: 0px 10px 5px 10px;
    }
    .abn{
        width: 50px;
        margin: 10px 15px 10px 15px;
    }
}